---
# Only front matter - Minimal Mistakes needs it
---

@import "minimal-mistakes";  // loads the theme

.gallery-grid img {
  width: 100%;
  height: 250px;  /* adjust if you want larger or smaller boxes */
  object-fit: cover;
  border-radius: 6px;
}


