.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.2rem;
  margin-top: 1.5rem;
}

.gallery-grid img {
  width: 100%;
  border-radius: 6px;
}
